#> ide
/.vscode
/.idea

#> local
local.mk
/test
/output
/results
/experiments
/scripts
**/*.local
**/local.*
**/*.bak

#> generated
/venv
**/__pycache__
**/yosys_graph.log
**/yosys_log.txt
# input
/input/*
!/input/ver.bak

#> misc
Laura/
*.xlsx
.DS_Store
*.sh
*.py
*.csv

#> exclusions
# (WE SHOULD NEVER COMMIT RESULTS, THEY SHOULD BE KEPT LOCALLY AND SHARED BY OTHER MEANS)
# !experiments/xpat/pareto_ver
# !experiments/muscat/pareto_ver
# !experiments/mecals/pareto_ver

!v2_testing.py
!main.py
!verify_mecals.py
