venv/
test/
output/
Laura/
input/ver/*.v
experiments/
*.xlsx
*__pycache__/

# Exclusions!
!requirements.txt
!main.py
!experiments/xpat/pareto_ver/
!experiments/muscat/pareto_ver/
!experiments/mecals/pareto_ver/