#> ide
/.vscode
/.idea

#> local
/local.mk
**/*.local
**/local.*
/test
/experiments
/output
/benchmarks
# data
/results
/*.csv
# scripts
/scripts
/*.sh

#> generated
/.venv
**/__pycache__
.history_sta
# input
/input/*
!/input/ver.bak

#> misc
Laura/
*.xlsx
.DS_Store

/logs*
/all_circuits_plots*
/individual_circuits_plots*
/individual_nodes_plots*
/extras*
/output*
/individual_nodes_times*
/individual_steps_costs*
/issue_bitvec